.products {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding: 20px;
  }
  .back-to-top{
    position: fixed;
    z-index: 99;
    cursor: pointer;
    /* position: absolute; */
    margin-right: 100px;
    width:50px;
    height: 50px;
  }
 .back-to-top{
  position: fixed;
  z-index: 99;
  cursor: pointer;
  
  margin-right: 100px;
  width: 50px;
  height: 50px;
  margin-bottom: 110px;
  margin-left: 50px;
 
  border: 1px;
  box-shadow: 115%;
  border: 0;
  border-radius: 50%;
  box-shadow: 0 2px 10px 1px #b5b5b5;
 }